{{ $siteUrl := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $scratch := newScratch }}
{{ $scratch.Add "sitePath" .Site.BaseURL }}

{{ $scratch.Add "siteBreadcrumbs" (slice (dict "url" "/" "name" "home" "position" 1) (dict "url" .Site.BaseURL "name" "~guru" "position" 2)) }}
{{ range $index, $element := split $siteUrl "/" }}
    {{ $scratch.Add "sitePath" $element }}
    {{ $scratch.Add "sitePath" "/" }}
    {{ if ne $element "" }}
        {{ $scratch.Add "siteBreadcrumbs" (slice (dict "url" ($scratch.Get "sitePath") "name" . "position" (add $index 3))) }}
    {{ end }}
{{ end }}

<nav class="breadcrumbs">
    <ul>
        {{ range $scratch.Get "siteBreadcrumbs" }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
    </ul>
</nav>